<nav class="navbar">
    <div class="container">
        <div class="logo">Hello World!</div>
        <ul class="nav-links desktop-only">
            <li><a (click)="navigateToPage('/')">Start</a></li>
            <li><a (click)="navigateToPage('/about')">About</a></li>
            <li><a (click)="navigateToPage('/map')">Map</a></li>
            <li *ngIf="!isLoggedIn()"><a (click)="navigateToPage('/login')">Login</a></li>
            <li *ngIf="isLoggedIn()"><a (click)="navigateToPage('/profile')">Profile</a></li>
            <li *ngIf="isLoggedIn()"><a (click)="navigateToPage('/todo')">ToDo's</a></li>
        </ul>
        <app-button label="Hallo" (click)="openDialog('3000ms', '1500ms')" variant="primary"></app-button>
    </div>
</nav>