:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-grow: 1;
}
.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
}
.map-container {
    position: relative;
    flex-grow: 1;
}

.coord-overlay {
	position: absolute;
	top: 1rem;
	right: 1rem;
    z-index: 10;
	background: rgba(255, 255, 255, 0.9);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.coord-overlay label {
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
}
.coord-overlay input {
	width: 6rem;
}

.marker-overlay {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-top: 120px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 10;
}

.layer-switch-overlay {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-top: 240px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 10;
}